@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat);
  --animate-infinite-scroll: infinite-scroll 20s linear infinite;

  --color-green-10: #335226;
  --color-green-11: #cce0bb;
  --color-green-12: #528a3e;
  --color-white-20: #fffafa;
  --color-gray-30: #626161;
  --color-black-40: #1e1e1e;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    overflow-x: hidden;
  }
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #fffafa;
    width: 100%;
    min-height: 100vh;
  }
}
