@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat);

  --color-green-10: #335226;
  --color-green-11: #cce0bb;
  --color-green-12: #528a3e;
  --color-white-20: #ffffff;
  --color-gray-30: #626161;
  --color-black-40: #1e1e1e;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    overflow-x: hidden;
  }
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh;
  }
}
