@import "tailwindcss";

@theme {
  --animate-infinite-scroll: infinite-scroll 20s linear infinite;
  --animate-arrow-move: arrow-move 0.8s ease-in-out;

  --color-green-10: #335226;
  --color-green-11: #cce0bb;
  --color-green-12: #528a3e;
  --color-white-20: #fffafa;
  --color-gray-30: #626161;
  --color-black-40: #1e1e1e;

  --breakpoint-xs: 35rem;
  --breakpoint-xxl: 87.5rem;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
  @keyframes arrow-move {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-8px);
    }
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    overflow-x: hidden;
  }
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #fffafa;
    width: 100%;
    min-height: 100vh;
  }
}
